@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body, html {
  font-family: 'exo 2';
  /* background: rgb(32,144,164); */
  height:100%;
  background-color: rgb(98, 116, 98);
  /* background-color: rgb(154, 162, 163); */
};

#main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  color: white;
}

.nav-link {

}




/* <~~~~~ COMPUTER SCREENS ~~~~~> */
/* <----- Activity Page -----> */

#ActivityPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px;
  /* max-width: 75%; */
};

/* add activity */
#addActivityButton {
  margin-top: 2%;
  /* margin-bottom: 2%; */
  height: 40px;
  justify-self: center;
  min-width: 500px;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(221,224,217);
  border: none;
    opacity:0.8;

};

.new-activity-page {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  background-color: rgb(221,224,217);
  border-top: none;
  /* border-radius: 10px; */
  /* margin: 1%; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    opacity:0.8;

};

.addActivityTitle {

};

.addActivityContainer {
  margin-bottom: 5%;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
};
.entryDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3%;
  min-width: 400px;
};

.bucketlistEntry {
  align-content: stretch;
  margin-bottom: 1%;
  /* margin: 3%; */
};

.bucketlistText {
  display: flex;
  justify-content: stretch;
  border-radius: 10px;
  height: 30px;
  min-width: 400px;
};

.addBucketlistEntry {
  display: flex;
  justify-content: center;
};

.urlEntry {
  margin: 3%;
}
.urlInput {
  display: flex;
  align-content: stretch;
  /* justify-content: space-evenly; */
  min-width: 500px;
  margin: 3%;
};

.addUrlButton {
  /* justify-content: flex-end; */
  justify-content: end;
  flex: 0 0 50px;
  font-size: x-large;
  border-radius: 10px;
  /* border */
  background-color: rgb(221,224,217);
}

.addBucketlistEntryButton {
  margin: 5%;
  min-width: 55%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(215, 225, 202);
  font-size: larger;
}

#activityContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
  min-width: 500px;
  margin-top: 2%;
};

.activity {
  display: flex;
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  background-color: rgb(221,224,217);
  /* opacity:0.8; */
};

.checkBox {
  margin: 2%;
  width: 2%;
  flex: 0 0 30px;
  border-radius: 10px;
};

.activityInfo {
  margin-right: 5%;
  align-items: flex-start;
  align-content: stretch;
  width: 45%;
}

.photo {
  margin-left: 5%;
  align-items: center;
  align-content: stretch;
  width: 45%;
};


.deleteActivity {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  margin: 2%;
  margin-right: 1%;
  width: 30px;
  height: 30px;
  flex: 0 0 7%;
  justify-self: top;
  border: none;
  background-color: none; 
  border-radius: 10px;
};


.activityName {
  margin-top: 10%;
  margin-left: 5%;
  align-self: flex-start;
  font-size: x-large
};

.locationName {
  margin: 3%;
  margin-left: 15%;
  font-size: medium
};

.urlContainer {
  margin-left: 15%;
  margin-bottom: 10%;
  font-size:small
};

.urlDiv {
  max-width: fit-content;
};

/* #root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
/* .login-background {
  background-image: url(assets/DSC06211.jpg);
  background-size: cover;
  background-position: center;
} */

.login-page {
  display: flex;
  justify-content: stretch;
  align-items: center;
  /* height: 100vh; */
  /* min-width: 500px; */
  /* background-color: rgb(37, 37, 41); */
  /* background-image: url(assets/DSC06211.jpg);
  background-size: cover;
  background-position: center; */
}

.login-container {
  min-width: 500px;
  padding: 20px;
  background-color: rgb(221,224,218);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0.1);
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#main-nav {
  text-align: center;
}

#main-nav .nav-link {
  color: #333;
  margin-right: 10px;
}


.login-form {
  display: inline-block;
  text-align: center;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 180px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

/* .loggin-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: pink;
  } */

#noAccount {
  margin-top: 10px;
  }

#noAccount p {
  display: inline-block;
  margin: 0;
}

#noAccount a {
  color: #333;
}
.signUpPage {
  background-color: rgb(37, 37, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.home-page {
  /* background-image: url(assets/DSC06793.jpg); */
  /* background-color:  rgb(98, 116, 98); */
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home-page-func {
  padding:3%;
  background: rgb(251, 251, 248);
  opacity: 0.8;
  width: 80%;
  height:80%;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  border-bottom: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-align: center;
}

.user-home-page {
  justify-content: center;
  color: black;
  opacity: 1;
}
#create-new-category-div{
  justify-content: center;
  color: black;
  opacity: 1;
}

#create-new-category-div input{
  height: 30px;
  width: 30%;
  margin:5px;
  border-radius: 10px;
  border: none;
  border-bottom: 10px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
}
#create-new-category-div button{
  height: 33px;
  margin:5px;
  border-radius: 10px;
  border: none;
  border-bottom: 10px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
  font-size:18px;
}
#create-new-category-div button{
background-color: rgb(147, 162, 147);
transition: 0.7s;
}
#create-new-category-div button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#category-container-div{
  justify-content: center;
  color: black;
  opacity: 1;
}

#category-container-div button{
  justify-content: center;
  color: black;
  opacity: 1;
  height: 60px;
  width: 20%;
  margin:5px;
  border-radius: 5px;
  border: none;
  border-bottom: 10px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
  font-size: 20px;
}

#category-container-div button:hover{
background-color: rgb(147, 162, 147);
transition: 0.7s;
}

#category-container-div button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




/* <~~~~~ MOBILE DEVICE ~~~~~> */
@media all and (max-width: 500px) {
/* <----- Activities -----> */

 #ActivityPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px;
  };

  #activityContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px;
    row-gap: 20px;
  };

  .activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    row-gap: 5px;
  };

  .activityName {

  };

  .locationName {

  };

  .urlContainer {

  };

  .urlDiv {

  };

  .deleteActivity {
    align-self: right;
  }; 
};

/* <----- home page -----> */

.home-page{
  /* background-image: url(assets/DSC06793.jpg); */
  /* background-color:  rgb(98, 116, 98); */
  /* background-size: cover; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home-page-func {
  padding:3%;
  /* background: rgb(251, 251, 248); */
  opacity: 0.8;
  width: 80%;
  height:80%;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  border-bottom: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-align: center;
}

.user-home-page {
  justify-content: center;
  color: black;
  opacity: 1;
}
#create-new-category-div{
  justify-content: center;
  color: black;
  opacity: 1;
}

#create-new-category-div input{
  height: 30px;
  width: 30%;
  margin:5px;
  border-radius: 10px;
  border: none;
  border-bottom: 10px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
}
#create-new-category-div button{
  height: 33px;
  margin:5px;
  border-radius: 10px;
  border: none;
  border-bottom: 10px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
  font-size:18px;
}
#create-new-category-div button{
background-color: rgb(147, 162, 147);
transition: 0.7s;
}
#create-new-category-div button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#category-container-div{
  justify-content: center;
  color: black;
  opacity: 1;
}

#category-container-div button{
  justify-content: center;
  color: black;
  opacity: 1;
  height: 60px;
  width: 20%;
  margin:5px;
  border-radius: 5px;
  border: none;
  border-bottom: 10px;
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
  font-size: 20px;
}

#category-container-div button:hover{
background-color: rgb(147, 162, 147);
transition: 0.7s;
}

#category-container-div button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* .root-layout {
  display: flex;
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  background-color: lightgrey;
  opacity:0.8;
} */